doctype html
html
  head
    meta(charset='utf-8')
    link(href='/less/app.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Orbitron:900,500', rel='stylesheet', type='text/css')
  body
    block content

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/traceur.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/vendor/phaser.min.js')
    script(src='/js/es6/compiled/realLoad.js')
    script(src='/js/es6/compiled/splash.js')
    script(src='/js/es6/compiled/load.js')
    script(src='/js/es6/compiled/menu.js')
    script(src='/js/es6/compiled/play.js')
    script(src='/js/es6/compiled/dungeon1.js')
    script(src='/js/es6/compiled/combat.js')
    script(src='/js/es6/compiled/dead.js')
    script(src='/js/es6/compiled/finishedCombat.js')
    script(src='/js/es6/compiled/main.js')
    script(src='/js/es6/compiled/sockets.js')

    block scripts
