extends ../shared/template

block content
  #container
    img#top(src='/img/page/gameBorderTop.png')
    #game
    img#bottom(src='/img/page/gameBorderBottom.png')

  #text
    span#arrow Arrow keys to walk
    span#space Space to talk!
